/* подключаем шрифт */
@font-face {
    font-family: 'Circe Thin';
    src: url('fonts/Circe/Circe-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Light';
    src: url('fonts/Circe/Circe-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Regular';
    src: url('fonts/Circe/Circe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Bold';
    src: url('fonts/Circe/Circe-Bold.ttf') format('truetype');
}

/* Стили для десктопных устройств */

/*@media (min-width: 768px) {*/
h1 {
    font-size: 32px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
}

h2 {
    font-size: 25px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
}

h3 {
    font-size: 22px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
}

.h4 {
    font-size: 18px;
    font-family: 'Circe Regular', Arial, sans-serif;
}

h5 {
    font-size: 13px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
}

p {
    font-size: 18px;
}

b {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
}

/* Стили для мобильных устройств */
@media (max-width: 767px) {

}

.flower__title {
    margin-top: 0;
}

.image-right {
    padding-right: 15px;
}

.flower__description_text {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;

}

a {
    text-decoration: none; /* убираем подчеркивание */
    color: inherit; /* возвращаем цвет текста к наследуемому */
    outline: none; /* убираем синее выделение при фокусе */
}

.postcard-content {
    display: flex;
    flex-direction: column;
}

.postcard-content__title {
    padding: 15px 0 5px 0;
    margin-top: 0;
    margin-bottom: 0;
    /* хочу убрать ненужные отступы от стандартного h5, можно было конечно поиграться и с line-height, но не хочу тратить время и подгонять */
}

.postcard-content__product-button-more {
    padding: 5px 10px;
    border-radius: 18px;
    border: 1px solid #000000;
    width: 70px;
    height: 15px;
    font-size: 11px;
    font-weight: 500;
    font-family: 'Circe Bold', Arial, sans-serif;
}

.flower {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 70px 30px 0px 30px;
}

.flower__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
}

.flower-content__item-left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.flower-content__item-left img {
    object-fit: cover;
    border-radius: 18px;
}

.flower__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flower__nav-link {
    color: black;
    text-decoration: none; /* убираем подчеркивание */
    border-bottom: dashed;
    text-align: left;
    font-size: 12px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.flower__product-button-back {
    padding: 10px 15px;
    border-radius: 18px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 50px;
    font-size: 14px;
    font-weight: 200;
    font-family: 'Circe Regular', Arial, sans-serif;
}

.flower__add-to-cart {
    padding: 10px 15px;
    margin-bottom: 20px;
    border-radius: 18px;
    background-color: #6C4795;
    border: 1px solid #6C4795;
    color: white;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Circe Bold', Arial, sans-serif;
}

.flower__image-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 40px 40px 0px;
}

.flower__image-gallery_big-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin-bottom: 20px;
}

.flower__image-gallery_big-img {
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
    object-fit: cover;
    border-radius: 18px;
}

.flower__image-gallery_small-container {
    display: flex;
    gap: 20px;
}

.flower__image-gallery_small-img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 18px;
    cursor: pointer;
}

.flower__image-gallery_big-container.full-screen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    z-index: 9999;
}

.flower__image-gallery_big-img.full-screen {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

.overflow-hidden {
    overflow: hidden;
}


.faq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 30px;
}

.faq__content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
}

.faq__content .flower__faq-item .flower__faq-question {
    font-size: 14px;
    font-weight: 150;
    font-family: 'Circe Light', Arial, sans-serif;
}




.flower__faq-question {
    position: relative;
    display: flex;
    flex-direction: column;

    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    line-height: 30px;
}

.flower__faq-question:hover,
.flower__faq-question:hover::after {
    cursor: pointer;
    background-color: #D5B8F1;
}

.flower__faq-question.active {
    border-bottom: 1.5px solid;
    background-color: white;

}

.flower__faq-question::after {
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.flower__faq-question.active::after {
    content: '-';
    background-color: white;
}

.flower__faq-answer {
    display: flex;
    flex-direction: row;
    opacity: 0;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease 0.15s;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.flower__faq-answer.active {
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
    background-color: white;
}

/* хеадер */
.header__info-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.header__navigation-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    margin-top: 25px;
    padding: 0 30px;
    border-radius: 18px;
    align-items: center; /* Выравнивание элементов по вертикали */
}

.divider {

}

.header__info {
    display: flex;
    gap: 20px;
}

.flower-content__icon-content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.header__order-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.header__order-time .header__text-icon {
    margin-left: 10px;
    color: #535353;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__order-time .text-black {
    margin-left: 10px;
    color: #000000;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__order-time .text-title {
    margin-left: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__menu-list {
    z-index: 1;
    /*    Управлять порядком наложения блоков мы как раз и можем при помощи z-index https://doka.guide/css/z-index/*/
}

.header__contacts {
}

.header__contacts .header__text-contacts {
    margin-left: 10px;
    color: #535353;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__logo-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header__logo {
    /*width: 100px;*/
    /*height: 100px;*/
    /*padding-bottom: 10px;*/
    margin-top: 20px;
    padding-right: 30px;
    /*padding-right: 10px;*/
}

.header__logo img {
    width: 100px;
    height: 100px;
}

.main-menu {
    /*width: 80%;*/
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    height: 70px;
    /*border-radius: 10px;*/
    align-items: center; /* Выравнивание элементов по вертикали */
}

/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px 7px 0 0;
    font-weight: 550;
    display:inline-block;
    background-color: #D5B8F1;
}

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color: #000000;;
    font-size:16px;
    line-height: 50px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #6C4795;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

nav ul ul ul {
    position: absolute;
    min-width:270px;
    top:0;
    left:100%;
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__link img {
    margin-left: 5px;
}

.header__search-and-actions {
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header__search-link {
    padding-left: 20px;
}


/* футер */

.footer__nav-link {
    color: black;
    text-decoration: none; /* убираем подчеркивание */
    border-bottom: dashed;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}



footer {
    margin-top: 80px;
    padding: 30px;
    background-color: #D5B8F1;
}

.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


.footer__left-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}


@media (max-width: 600px) {
    .footer__content {
        grid-template-columns: 1fr;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; /* добавлено свойство для вертикального выравнивания */
    border-radius: 18px;
    border: 1.5px solid #000000;
    margin-top: 20px;
    padding: 5px 10px;
    width: 70px;
}

.footer__social-links a:not(:last-child) {
    margin-right: 10px; /* отступ справа для каждой иконки */
}

/*.footer__social-links a:last-child {*/
/*    margin-right: 0; !* убираем отступ для последней иконки *!*/
/*}*/

/* Чтобы не создавать два селектора, можно написать короче, используя псевдокласс :not. Тут мы буквально говорим
следующее: «Задай отступ всем ul, кроме последнего».
ul:not(:last-child) {
  margin-bottom: 30px;
}*/

.footer__social-links img {
    width: 16px;
    height: 16px;
}

.footer__right-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.footer__bottom {
    padding-top: 20px;
}

.footer__copyright{
    color: black;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

