/* подключаем шрифт */
@font-face {
    font-family: 'Circe Thin';
    src: url('fonts/Circe/Circe-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Light';
    src: url('fonts/Circe/Circe-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Regular';
    src: url('fonts/Circe/Circe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Bold';
    src: url('fonts/Circe/Circe-Bold.ttf') format('truetype');
}

