/* подключаем шрифт */
@font-face {
    font-family: 'Circe Thin';
    src: url('fonts/Circe/Circe-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Light';
    src: url('fonts/Circe/Circe-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Regular';
    src: url('fonts/Circe/Circe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Bold';
    src: url('fonts/Circe/Circe-Bold.ttf') format('truetype');
}

h1 {
    font-size: 36px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 0;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 0;
}

h3 {
    font-size: 25px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 0;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 0;
}

h5 {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    margin: 0;
}

a {
    text-decoration: none; /* убираем стандартное подчеркивание */
    color: inherit; /* !!возвращаем цвет текста к наследуемому */
    outline: none; /* убрала дебильное синее выделение при фокусе */
}

.font-regular {
    font-family: 'Circe Regular', Arial, sans-serif;
}

.font-bold {
    font-family: 'Circe Bold', Arial, sans-serif;
}


html, body {
    height: 100%;
    margin: 8px 0 0 0 ;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; /* Основной контент занимает доступное пространство */
}

footer {
    padding: 20px 80px 40px 80px;
    background-color: #D5B8F1;
}

header {
    padding-bottom: 60px;
}

section {
    padding: 0 80px 60px 80px;
}

main {
    padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 19px;
    }

    h4 {
        font-size: 16px;
    }

    h5 {
        font-size: 12px;
    }

    p {
        font-size: 12px;
    }

    header {
        padding-bottom: 0;
    }

    section {
        padding: 0 20px 40px 20px;
    }

}


.header__info-section {
    padding: 0 80px 0 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header__navigation-section {
    display: flex;
    justify-content: space-between;
    background-color: #D5B8F1;
    margin-top: 25px;
    margin-bottom: 60px;

    padding: 0 80px 0 80px;
    border-radius: 18px;
    align-items: center;
}


@media screen and (max-width: 900px) {
    .header__info-section {
        display: none;
    }

    .header__navigation-section {
        border-radius: 0;
    }

    .header__navigation-section.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .divider {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header__search-and-actions {
        margin-right: 20px;
    }

    .header__navigation-section {
        padding: 0 20px 0 20px;
        border-radius: 0;
        align-items: center;
    }

}

.header__info {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.header__order-time,
.header__delivery-time {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 10px;
}

.header__text {
    color: #535353;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.header__text--contact {
    color: #535353;
    font-weight: 400;
}

.header__text--order-time,
.header__text--delivery-time {
    color: #000000;
}

.header__menu-list {
    z-index: 1;
/*    Управлять порядком наложения блоков мы как раз и можем при помощи z-index https://doka.guide/css/z-index/*/
}

.header__logo {
    margin-top: 10px;
    padding-right: 30px;
}

.header__logo img {
    width: 100px;
    height: 100px;
}

.header__search-and-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__search-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header__search-icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header__search-icon-wrapper {
    position: relative;
    display: none;
    align-items: center;
}

.header__search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    margin: 10px -20px 0 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header__search-dropdown .header__search-link {
    display: block;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.header__search-dropdown .header__search-link:last-child {
    margin-bottom: 0;
}

.header__search-link:hover {
    background-color: #6C4795;
}

@media screen and (max-width: 1000px) {
    .header__search-link {
        display: none;
    }

    .header__search-icon-wrapper {
        display: block;
        align-items: center;
    }

    .header__search-icon-wrapper:hover .header__search-dropdown {
        display: block;
    }
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__menu-list {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__list-item {
    margin-right: 30px;

}

.header__link.active h5 {
    color: #6C4795;
    font-weight: bold;
    text-decoration: none; /* Убираем нижнее подчеркивание */
}

.header__link h5:hover{
    color: #D5B8F1;
    font-weight: bold;
    text-decoration: none;
}

.header__menu-list .header__list-item .header__link.active {
    border-bottom: 3px solid #6C4795; /* Подчеркивание для активного пункта */
}

.header__menu-toggle {
    position: relative;
    display: none;
    cursor: pointer;
    padding-bottom: 0;
}

.header__menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 20px -35px 0 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header__menu-dropdown.show {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    height: 70px;
    align-items: center; /* Выравнивание элементов по вертикали */
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px 7px 0 0;
    font-weight: 550;
    display:inline-block;
    background-color: #D5B8F1;
}

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color: #000000;;
    font-size:16px;
    line-height: 50px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #6C4795;
}

nav a:active {
    background-color: #F7FEB5;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

@media screen and (max-width: 900px) {
    .header__menu-list {
        display: none;
    }

    .header__menu-toggle {
        display: block;
    }

    .header__link.active {
        border-left: 3px solid #6C4795; /* подчеркивание для активного */
    }
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__link img {
    margin-left: 5px;
}

.slider__container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1100px;
}

.slider__slide {
    display: none;
}

.slider__slide--active {
    display: block;
}

.slider__number {
    /* Стили для номера слайда */
    font-size: 12px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slider__image {
    /* Стили для изображения слайда */
    width: 100%;
    height: auto;
    border-radius: 18px;
}

.slider__caption {
    /* Стили для подписи слайда */
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slider__dots {
    /* Стили для контейнера точек-индикаторов */
    text-align: center;
    margin-top: 10px;
}

.slider__dot {
    /* Стили для точек-индикаторов */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D5B8F1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 5s ease;
}

.slider__dot--active {
    background-color: #6C4795;
}

@media screen and (max-width: 900px) {
    .slider {
        margin-top: 150px;
    }
}

/* 2 раздел */
.flowers-selection__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}


.flowers-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flowers-selection__product-description {
    padding-bottom: 20px;
}

.flowers-selection__product-description h5 {
    font-family: 'Circe Regular', Arial, sans-serif;
}

.flowers-selection__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.flowers-selection__product-image {
    padding-bottom: 20px;
}

.flowers-selection__product-image img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 18px;
}

.flowers-selection__product-description .flowers-selection__product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
}

.flowers-selection__product-button-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.flowers-selection__product-button-more,
.flowers-selection__product-button-basket{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    border-radius: 18px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 100%;
}

.flowers-selection__product-button-basket {
    margin-right: 0;
    background-color: #6C4795;
    border: 1px solid #6C4795;
}

.flowers-selection__product-button-more h5,
.flowers-selection__product-button-basket h5 {
    font-family: 'Circe Bold', Arial, sans-serif;
}

.flowers-selection__product-button-basket h5 {
    color: white;
}

@media screen and (max-width: 1100px) {
    .flowers-selection__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .flowers-selection__products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .flowers-selection__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

        color: #000000;
    }

    .flowers-selection__products {
        grid-gap: 30px 10px;
    }

    .flowers-selection__container-title {
        padding-right: 0;
    }

    .flowers-selection__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .flowers-selection__product-description {
        padding-bottom: 10px;
    }

    .flowers__product-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .flowers-selection__product-image {
        padding-bottom: 10px;
    }

    .flowers-selection__product-image img {
        height: 200px;
    }

    .flowers-selection__product-description .flowers-selection__product-price {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 15px;
    }

    .flowers-selection__product-button-block {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        width: 100%;
    }

    .flowers-selection__product-button-more,
    .flowers-selection__product-button-basket{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        border-radius: 18px;
        border: 1px solid #000000;
        width: 100%;
    }

    .flowers-selection__product-button-more {
        margin-bottom: 5px;
    }

    .flowers-selection__product-button-basket {
        background-color: #6C4795;
        border: 1px solid #6C4795;
    }
}


/* 4 раздел каталог */
.catalog__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.catalog__categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px 30px;
}

.catalog__category-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.catalog__category-image {
    padding-bottom: 10px;
}

.catalog__category-item .catalog__category-image img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.catalog__category-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.catalog__section-more {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-button{
    width: 150px;
}

@media screen and (max-width: 1100px) {
    .catalog__categories {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .catalog__categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .catalog__categories {
        grid-gap: 20px 10px;
    }

    .catalog__category-item .catalog__category-image img {
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 100px;
    }
}

/* 5 раздел о нас/о компании */
.about-us__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about-us__container-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.about-us__container-image-content_img {
    border-radius: 18px;
    width: 400px;
    height: 100%;
}

.about-us__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.about-us__feature-item {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 18px;
}

.about-us__feature-description {

}

.about-us__icon-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.about-us__icon-text h4 {
    font-family: 'Circe Regular', Arial, sans-serif;
}


.about-us__icon-text img {
    margin-right: 10px;
}

.about-us-address__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.about-us-address__container-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 18px; /* Задает закругление углов на 18 пикселей */
}

.about-us-address__container-item_description {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: inherit; /* наследуем значение border-radius от родительского элемента */
}

.about-us-address__container-item-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit; /* наследуем значение border-radius от родительского элемента */
}

@media screen and (max-width: 1100px) {
    .about-us__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .about-us__features {
        margin-right: 0;
    }

    .about-us__container-image-content {
        position: relative;
        width: 100%;
        padding-bottom: 60%; /* устанавливаем отношение сторон  */
        overflow: hidden;
        align-items: center;
    }

    .about-us__container-image-content_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 600px) {
    .about-us__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }

    .about-us__features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .about-us-address__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
        /* устанавливаем сетку из 1 колонки и 2 строк */
    }

    .about-us-address__container-item {
        margin-bottom: 10px;
    }


    .about-us-address__container-item:first-child {
        order: 2;
        margin-bottom: 0;
        /* меняем порядок отображения, чтобы описание было ниже карты.*/
    }

    .about-us-address__container-item-map {
        position: static;
        /* убираем абсолютное позиционирование карты */
        height: auto;
        border-radius: inherit;
    }
}


/* 5 раздел вопрос-ответ */
.faq__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.faq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.faq__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 40px;
}


.flower__faq-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flower__faq-question {
    position: relative;
    display: flex;
    flex-direction: column;

    padding: 10px 30px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1.5px solid;
    line-height: 30px;
}

.flower__faq-question:hover,
.flower__faq-question:hover::after {
    cursor: pointer;
    background-color: #D5B8F1;
}

.flower__faq-question.active {
    border-bottom: 1.5px solid;
    background-color: white;

}

.flower__faq-question::after {
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.flower__faq-question.active::after {
    content: '-';
    background-color: white;
}



.flower__faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease 0.15s;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.flower__faq-answer.active {
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .faq {
        padding: 0 20px 30px 20px;
    }

    .faq__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }
}

/* 6 раздел - ревью */


.reviews__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
    gap: 40px;
}

.reviews-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviews__container-item {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: flex-start;
 }


.reviews__container-map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.reviews__container-map iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 18px;
    box-sizing: border-box;

}

.reviews__container-map a {
    box-sizing: border-box;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 14px;
    white-space: nowrap;
    bottom: 10px;
}

.reviews__rating-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 18px;
    border: 1.5px solid #000000;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.reviews__rating-item img {
    width: 100px;
    height: 100%;
}

.reviews__rating-item:last-child {
    margin-bottom: 0; /* Убираем отступ для последней иконки */
}

.reviews__form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
}

.file-upload {
    margin-bottom: 30px;
}

.file-input {
    opacity: 0; /* Скрыть реальный элемент */
    cursor: pointer; /* Курсор указывает на действие */
}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #ccc; /* Ободок кнопки */
    border-radius: 4px; /* Скругленные углы */
    background-color: #f8f8f8; /* Цвет фона кнопки */
    cursor: pointer; /* Курсор для кнопки */
    text-align: center; /* Центрирование текста */
    transition: background-color 0.2s; /* Переход для фона кнопки */
}

.custom-file-upload:hover {
    background-color: #e0e0e0; /* Цвет фона при наведении */
}



#reviewForm label,
#reviewForm input,
#reviewForm textarea {
    display: block; /* Устанавливаем каждый элемент на новую строку */
    width: 100%;
}

#reviewForm input:last-child {
    margin-bottom: 20px;
}

.buttonReview {
    display: flex; /* Устанавливаем каждый элемент на новую строку */
}

#leaveReviewBtn {
    background-color: #D5B8F1;
    padding: 10px;
    border: none;
    border-radius: 18px;
    width: 200px;
}

#reviewForm label {
    padding-top: 20px; /* Отступ между элементами */
}

#reviewForm label:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
}


#reviewForm button {
    display: block; /* Устанавливаем каждый элемент на новую строку */
    width: 100%;
    padding: 10px;
    background-color: #D5B8F1;
    border: none;
    border-radius: 18px;
}


#reviewsContainer {
    margin-top: 20px;
}

ul {
    list-style-type: none; /* Убираем маркеры у списка */
    padding: 0;           /* Убираем внутренние отступы */
    margin: 0;            /* Убираем внешние отступы */
}

.review {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
}

.review-image {
    width: 200px; /* Установка ширины изображения */
    height: auto;
    border-radius: 18px;
}

.review-content {
    flex: 1;
}


.review-content p {
    margin-top: 20px;
}


@media screen and (max-width: 900px) {
    .reviews__container {
        grid-template-columns: 1fr;
    }

    .reviews__container-item_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .reviews__container-item:first-child {
        order: 2;
        margin-bottom: 0;
        /* меняем порядок отображения, чтобы описание было ниже карты.*/
    }

    .reviews__rating-item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 20px;
        border-radius: 18px;
        border: 1.5px solid #000000;
        align-items: center;
        padding: 20px;

        height: 50%;
        margin-bottom: 20px; /* Отступ справа для каждой иконки */
    }
}

@media screen and (max-width: 600px) {
    .reviews__container-item_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .reviews__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

        color: #000000;
    }
}

.blog__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.blog__content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .blog__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .blog__content {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }
}

.blog__card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px
}

.blog__card-image {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 18px;
    overflow: hidden; /* Скрыть части изображения, выходящие за пределы */
}

.blog__card-image img {
    display: block; /* Убрать отступы */
    width: 100%; /* Ширина 100% от родительского контейнера */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    object-fit: cover; /* Изображение будет обрезано по размеру контейнера */
}

.blog__card-description {
    display: flex;
    flex-direction: column;

}

.blog__card-description h4 {
    font-weight: 5;
}

/* 7 раздел - разработчик сайта */
.developer-info {
    padding: 20px 80px 40px 80px;
    background-color: #F7FEB5;
}

.developer-info__ascii-art {
    font-family: monospace;
    color: #000000; /* Цвет под фиолетовую тему "Лаванда" */
    text-align: left;
    font-size: 7px;
}

.developer-info__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.developer-info__container-item {
    background-color: #F7FEB5;

}

@media screen and (max-width: 1100px) {
    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 900px) {
    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 600px) {
    .developer-info {
        padding: 10px 20px 30px 20px;
    }

    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.developer-info__container-item img {
    border-radius: 18px;
    width: 100%;
    height: auto;
    display: block;
}

.developer-info__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 18px;
    border: 1.5px solid #000000;

    padding: 10px 20px 10px 20px;
    width: 100px; /* Ширина блока 100px */
}

.developer-info__contact a {
    margin-right: 20px; /* Отступ справа для каждой иконки */
}

.developer-info__contact a:last-child {
    margin-right: 0; /* Убираем отступ для последней иконки */
}

.developer-info__contact img {
    width: 22px;
    height: 22px;
}

.footer__nav-link {
    color: black;
    text-decoration: none; /* убираем подчеркивание */
    border-bottom: dashed;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f8f8f8;
    border-left: 4px solid #000000;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote p:first-child {
    font-size: 13px;
}

.developer-info__quote p:last-child {
    font-size: 11px;
    text-align: right;
    font-weight: 400;
}

.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


.footer__content-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    footer {
        margin-top: 40px;
        padding: 20px 20px 40px 20px;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; /* Добавлено свойство для вертикального выравнивания */
    border-radius: 18px;
    border: 1.5px solid #000000;
    margin-top: 20px;
    padding: 5px 10px;
    width: 70px;
}

.footer__social-links a {
    margin-right: 10px; /* Отступ справа для каждой иконки */
}

.footer__social-links a:last-child {
    margin-right: 0; /* Убираем отступ для последней иконки */
}

.footer__social-links img {
    width: 16px;
    height: 16px;
}



.footer__bottom {
    padding-top: 20px;
}

.footer__copyright{
    color: black;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}



/* страница про доставку */
.delivery-selection__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}


.delivery-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-row p,
.table-delivery h5 {
    font-weight: bold;
}


@media screen and (max-width: 1100px) {
    .delivery-selection {
        margin-top: 150px;
    }

    .delivery-selection__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
}

@media screen and (max-width: 900px) {
    .delivery-selection__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
    }
}

@media screen and (max-width: 600px) {
    .delivery-selection__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

    }

    .delivery-selection__container-title {
        padding-right: 0;
    }

    .delivery-selection__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.table-delivery {
    border-radius: 18px;
    border: 1.5px solid #000000;
}

table {
    border-collapse: collapse; /* Объединяет границы ячеек таблицы */
    width: 100%; /* Устанавливает ширину таблицы на 100% */
}

table caption {
    font-size: 1.3em;
    /*margin: 0.5em 0 0.75em;*/
}

table tbody {
    border-radius: 18px;
}

table tr {
    padding: 0.35em;
}

table th, table td {
    padding: 0.625em;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

@media screen and (max-width:600px) {
    table  {
        border-radius: 18px;
        border-color: #000000;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        display: none;
        border-radius: 18px;
        border: 1.5px solid #000000;
    }

    table tr {
        border-bottom: 1px solid #000000;
        display: block;
        margin-bottom: 20px;
    }

    table td {
        border-bottom: 1px solid #000000;
        display: block;
        text-align: right;
    }

    table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.catalog-navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    align-items: center;
    gap: 30px;
}

.catalog-navigation__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px 10px 15px;
    border-radius: 18px;
    /*background-color: rgba(213, 184, 241, 0.39);*/
    border: 1.5px solid #000000;
}

.catalog-navigation__item-icon a {
    margin-bottom: -3px;
}

.catalog-navigation__item-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.load-time-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.load-time-section_content {
    text-align: center;
    border-radius: 18px;
    background-color: #F7FEB5;
    padding: 15px;
    width: 350px;
}

