h1, h2, h3, h4, h5, p {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
    color: #000000;
    margin: 0;
}

h1 {
    font-size: 36px;
}
h2 {
    font-size: 32px;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 22px;
}

h5, p {
    font-size: 14px;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

html, body {
    height: 100%;
    width: auto;
    margin: 8px 0 0 0 ;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    padding: 20px 80px 40px 80px;
    background-color: #D5B8F1;
}

header {
    width: 100%;
    padding-bottom: 60px;
}

section {
    padding: 0 80px 60px 80px;
}

main {
    padding-bottom: 100px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 19px;
    }

    h4 {
        font-size: 16px;
    }

    h5, p {
        font-size: 12px;
    }

    header {
        width: 1fr;
        padding-bottom: 0;
    }

    section {
        padding: 0 20px 40px 20px;
    }
}

.header__info-section {
    padding: 0 80px 0 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header__navigation-section {
    display: flex;
    justify-content: space-between;
    background-color: #D5B8F1;
    margin-top: 25px;
    margin-bottom: 60px;

    padding: 0 80px 0 80px;
    border-radius: 18px;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .header__info-section {
        display: none;
    }

    .header__navigation-section {
        border-radius: 0;
    }

    .header__navigation-section.sticky {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .divider {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .header__search-and-actions {
        margin-right: 20px;
    }

    .header__navigation-section {
        padding: 0 20px 0 20px;
        border-radius: 0;
        align-items: center;
    }
}

.header__info {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.header__order-time,
.header__delivery-time {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 10px;
}

.header__text {
    color: #535353;
}

.header__contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.header__text--contact {
    color: #535353;
    font-weight: 400;
}

.header__text--order-time,
.header__text--delivery-time {
    color: #000000;
}

.header__menu-list {
    z-index: 1;
}

.header__logo {
    margin-top: 10px;
    padding-right: 30px;
}

.header__logo img {
    width: 100px;
    height: 100px;
}

.header__search-links,
.header__search-and-actions {
    display: flex;
    align-items: center;
}

.header__search-and-actions {
    justify-content: flex-end;
}

.header__search-links {
    gap: 20px;
}

.header__search-icon {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.header__search-icon-wrapper {
    position: relative;
    display: none;
    align-items: center;
}

.header__search-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    margin: 10px -20px 0 0;
    right: 0;
    background-color: #fff;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header__search-dropdown .header__search-link {
    display: block;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

.header__search-dropdown .header__search-link:last-child {
    margin-bottom: 0;
}

.header__search-link:hover {
    background-color: #6C4795;
}

@media screen and (max-width: 1000px) {
    .header__search-link {
        display: none;
    }

    .header__search-icon-wrapper {
        display: block;
        align-items: center;
    }

    .header__search-icon-wrapper:hover .header__search-dropdown {
        display: block;
    }
}

.header__menu {
    justify-content: space-between;
}

.header__menu,
.header__menu-list {
    display: flex;
    align-items: center;
}

.header__list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__list-item {
    margin-right: 30px;
}

.header__link.active h5 {
    color: #6C4795;
    font-weight: bold;
    text-decoration: none;
}

.header__link h5:hover {
    color: #D5B8F1;
    font-weight: bold;
    text-decoration: none;
}

.header__menu-list .header__list-item .header__link.active {
    border-bottom: 3px solid #6C4795;
}

.header__menu-toggle {
    position: relative;
    display: none;
    cursor: pointer;
    padding-bottom: 0;
}

.header__menu-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    margin: 20px -35px 0 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 18px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.header__menu-dropdown.show {
    display: block;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    height: 70px;
    align-items: center;
}

nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

nav ul li {
    margin: 0 7px 0 0;
    font-weight: 550;
    display:inline-block;
    background-color: #D5B8F1;
}

nav a {
    display:block;
    padding:0 10px;
    color: #000000;;
    font-size:16px;
    line-height: 50px;
    text-decoration:none;
}

nav a:hover {
    background-color: #6C4795;
}

nav a:active {
    background-color: #F7FEB5;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

@media screen and (max-width: 900px) {
    .header__menu-list {
        display: none;
    }

    .header__menu-toggle {
        display: block;
    }

    .header__link.active {
        border-left: 3px solid #6C4795; /* подчеркивание для активного */
    }
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__link img {
    margin-left: 5px;
}

.slider__container {
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1100px;
}

.slider__slide {
    display: none;
}

.slider__slide--active {
    display: block;
}

.slider__number {
    /* Стили для номера слайда */
    font-size: 12px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.slider__image {
    /* Стили для изображения слайда */
    width: 100%;
    height: auto;
    border-radius: 18px;
}

.slider__caption {
    /* Стили для подписи слайда */
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slider__dots {
    /* Стили для контейнера точек-индикаторов */
    text-align: center;
    margin-top: 10px;
}

.slider__dot {
    /* Стили для точек-индикаторов */
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D5B8F1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 5s ease;
}

.slider__dot--active {
    background-color: #6C4795;
}

@media screen and (max-width: 900px) {
    .slider {
        margin-top: 150px;
    }
}

/* 2 раздел */
.flowers-selection__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}


.flowers-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flowers-selection__product-description {
    padding-bottom: 20px;
}

.flowers-selection__product-description h5 {
    font-family: 'Circe Regular', Arial, sans-serif;
}

.flowers-selection__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.flowers-selection__product-image {
    padding-bottom: 20px;
}

.flowers-selection__product-image img {
    object-fit: cover;
    width: 100%;
    height: 350px;
    border-radius: 18px;
}

.flowers-selection__product-description .flowers-selection__product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
}

.flowers-selection__product-button-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: 100%;
}

.flowers-selection__product-button-more,
.flowers-selection__product-button-basket{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 0;
    border-radius: 18px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 100%;
}

.flowers-selection__product-button-basket {
    margin-right: 0;
    background-color: #6C4795;
    border: 1px solid #6C4795;
}

.flowers-selection__product-button-more h5,
.flowers-selection__product-button-basket h5 {
    font-family: 'Circe Bold', Arial, sans-serif;
}

.flowers-selection__product-button-basket h5 {
    color: white;
}

@media screen and (max-width: 1100px) {
    .flowers-selection__products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .flowers-selection__products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .flowers-selection__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

        color: #000000;
    }

    .flowers-selection__products {
        grid-gap: 30px 10px;
    }

    .flowers-selection__container-title {
        padding-right: 0;
    }

    .flowers-selection__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .flowers-selection__product-description {
        padding-bottom: 10px;
    }

    .flowers__product-card {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .flowers-selection__product-image {
        padding-bottom: 10px;
    }

    .flowers-selection__product-image img {
        height: 200px;
    }

    .flowers-selection__product-description .flowers-selection__product-price {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 15px;
    }

    .flowers-selection__product-button-block {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;

        width: 100%;
    }

    .flowers-selection__product-button-more,
    .flowers-selection__product-button-basket{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        border-radius: 18px;
        border: 1px solid #000000;
        width: 100%;
    }

    .flowers-selection__product-button-more {
        margin-bottom: 5px;
    }

    .flowers-selection__product-button-basket {
        background-color: #6C4795;
        border: 1px solid #6C4795;
    }
}


/* 4 раздел каталог */
.catalog__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.catalog__categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 40px 30px;
}

.catalog__category-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.catalog__category-image {
    padding-bottom: 10px;
}

.catalog__category-item .catalog__category-image img {
    object-fit: cover;
    width: 130px;
    height: 130px;
    border-radius: 100px;
}

.catalog__category-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.catalog__section-more {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.catalog-button{
    width: 150px;
}

@media screen and (max-width: 1100px) {
    .catalog__categories {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .catalog__categories {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 600px) {
    .catalog__categories {
        grid-gap: 20px 10px;
    }

    .catalog__category-item .catalog__category-image img {
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 100px;
    }
}

.about-us__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about-us__container-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.about-us__container-image-content_img {
    border-radius: 18px;
    width: 400px;
    height: 100%;
}

.about-us__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.about-us__feature-item {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 18px;
}

.about-us__feature-description {

}

.about-us__icon-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 10px;
}

.about-us__icon-text h4 {
    font-family: 'Circe Regular', Arial, sans-serif;
}


.about-us__icon-text img {
    margin-right: 10px;
}

.about-us-address__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.about-us-address__container-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 18px;
}

.about-us-address__container-item_description {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
    padding: 20px;
    border-radius: inherit;
}

.about-us-address__container-item-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

@media screen and (max-width: 1100px) {
    .about-us__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .about-us__features {
        margin-right: 0;
    }

    .about-us__container-image-content {
        position: relative;
        width: 100%;
        padding-bottom: 60%;
        overflow: hidden;
        align-items: center;
    }

    .about-us__container-image-content_img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


@media screen and (max-width: 600px) {
    .about-us__container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;

    }

    .about-us__features {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .about-us-address__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }

    .about-us-address__container-item {
        margin-bottom: 10px;
    }

    .about-us-address__container-item:first-child {
        order: 2;
        margin-bottom: 0;
    }

    .about-us-address__container-item-map {
        position: static;
        height: auto;
        border-radius: inherit;
    }
}


/* 5 раздел вопрос-ответ */
.faq__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.faq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.faq__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px 40px;
}

.flower__faq-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flower__faq-question {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1.5px solid;
    line-height: 30px;
}

.flower__faq-question:hover,
.flower__faq-question:hover::after {
    cursor: pointer;
    background-color: #D5B8F1;
}

.flower__faq-question.active {
    border-bottom: 1.5px solid;
    background-color: white;

}

.flower__faq-question::after {
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.flower__faq-question.active::after {
    content: '-';
    background-color: white;
}

.flower__faq-answer {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease 0.15s;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.flower__faq-answer.active {
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .faq {
        padding: 0 20px 30px 20px;
    }

    .faq__content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-gap: 10px;
    }
}

.reviews__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 40px;
    gap: 40px;
}

.reviews-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviews__container-item {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     justify-content: flex-start;
 }


.reviews__container-map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.reviews__container-map iframe {
    width: 100%;
    height: 100%;
    border: 1px solid #e6e6e6;
    border-radius: 18px;
    box-sizing: border-box;

}

.reviews__container-map a {
    box-sizing: border-box;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    max-height: 14px;
    white-space: nowrap;
    bottom: 10px;
}

.reviews__rating-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 18px;
    border: 1.5px solid #000000;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
}

.reviews__rating-item img {
    width: 100px;
    height: 100%;
}

.reviews__rating-item:last-child {
    margin-bottom: 0;
}

.reviews__form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    font-size: 14px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
}

.file-upload {
    margin-bottom: 30px;
}

.file-input {
    opacity: 0;
    cursor: pointer;
}

.custom-file-upload {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
}

.custom-file-upload:hover {
    background-color: #e0e0e0;
}

#reviewForm label,
#reviewForm input,
#reviewForm textarea {
    display: block;
    width: 100%;
}

#reviewForm input:last-child {
    margin-bottom: 20px;
}

.buttonReview {
    display: flex;
}

#leaveReviewBtn {
    background-color: #D5B8F1;
    padding: 10px;
    border: none;
    border-radius: 18px;
    width: 200px;
}

#reviewForm label {
    padding-top: 20px;
}

#reviewForm label:last-child {
    padding-top: 10px;
    padding-bottom: 10px;
}


#reviewForm button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #D5B8F1;
    border: none;
    border-radius: 18px;
}


#reviewsContainer {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.review {
    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-bottom: 60px;
}

.review-image {
    width: 200px;
    height: auto;
    border-radius: 18px;
}

.review-content {
    flex: 1;
}

.review-content p {
    margin-top: 20px;
}

@media screen and (max-width: 900px) {
    .reviews__container {
        grid-template-columns: 1fr;
    }

    .reviews__container-item_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .reviews__container-item:first-child {
        order: 2;
        margin-bottom: 0;
    }

    .reviews__rating-item {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 20px;
        border-radius: 18px;
        border: 1.5px solid #000000;
        align-items: center;
        padding: 20px;

        height: 50%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 600px) {
    .reviews__container-item_content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    }

    .reviews__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

        color: #000000;
    }
}

.blog__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

.blog__content {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 900px) {
    .blog__content {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .blog__content {
        grid-template-columns: 1fr;
        padding-bottom: 40px;
    }
}

.blog__card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px
}

.blog__card-image {
    display: flex;
    width: 100%;
    height: 200px;
    border-radius: 18px;
    overflow: hidden;
}

.blog__card-image img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.blog__card-description {
    display: flex;
    flex-direction: column;

}

.blog__card-description h4 {
    font-weight: 5;
}

.developer-info {
    padding: 20px 80px 40px 80px;
    background-color: #F7FEB5;
}

.developer-info__ascii-art {
    font-family: monospace;
    color: #000000;
    text-align: left;
    font-size: 7px;
}

.developer-info__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

.developer-info__container-item {
    background-color: #F7FEB5;

}

@media screen and (max-width: 1100px) {
    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 900px) {
    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 40px;
    }
}

@media screen and (max-width: 600px) {
    .developer-info {
        padding: 10px 20px 30px 20px;
    }

    .developer-info__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
}

.developer-info__container-item img {
    border-radius: 18px;
    width: 100%;
    height: auto;
    display: block;
}

.developer-info__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 18px;
    border: 1.5px solid #000000;
    padding: 10px 20px 10px 20px;
    width: 100px;
}

.developer-info__contact a {
    margin-right: 20px;
}

.developer-info__contact a:last-child {
    margin-right: 0;
}

.developer-info__contact img {
    width: 22px;
    height: 22px;
}

.footer__nav-link {
    color: black;
    text-decoration: none;
    border-bottom: dashed;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f8f8f8;
    border-left: 4px solid #000000;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote p:first-child {
    font-size: 13px;
}

.developer-info__quote p:last-child {
    font-size: 11px;
    text-align: right;
    font-weight: 400;
}

.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.footer__content-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
}

@media screen and (max-width: 600px) {
    footer {
        margin-top: 40px;
        padding: 20px 20px 40px 20px;
    }

    .footer__content {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    border: 1.5px solid #000000;
    margin-top: 20px;
    padding: 5px 10px;
    width: 70px;
}

.footer__social-links a {
    margin-right: 10px;
}

.footer__social-links a:last-child {
    margin-right: 0;
}

.footer__social-links img {
    width: 16px;
    height: 16px;
}



.footer__bottom {
    padding-top: 20px;
}

.footer__copyright{
    color: black;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}



/* страница про доставку */
.delivery-selection__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 40px;
    padding-bottom: 40px;
}


.delivery-selection__description {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.products-row p,
.table-delivery h5 {
    font-weight: bold;
}


@media screen and (max-width: 1100px) {
    .delivery-selection {
        margin-top: 150px;
    }

    .delivery-selection__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
}

@media screen and (max-width: 900px) {
    .delivery-selection__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px 10px;
    }
}

@media screen and (max-width: 600px) {
    .delivery-selection__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 20px;

    }

    .delivery-selection__container-title {
        padding-right: 0;
    }

    .delivery-selection__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

.table-delivery {
    border-radius: 18px;
    border: 1.5px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table caption {
    font-size: 1.3em;
    /*margin: 0.5em 0 0.75em;*/
}

table tbody {
    border-radius: 18px;
}

table tr {
    padding: 0.35em;
}

table th, table td {
    padding: 0.625em;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

@media screen and (max-width:600px) {
    table  {
        border-radius: 18px;
        border-color: #000000;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        display: none;
        border-radius: 18px;
        border: 1.5px solid #000000;
    }

    table tr {
        border-bottom: 1px solid #000000;
        display: block;
        margin-bottom: 20px;
    }

    table td {
        border-bottom: 1px solid #000000;
        display: block;
        text-align: right;
    }

    table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.catalog-navigation {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
    align-items: center;
    gap: 30px;
}

.catalog-navigation__back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 15px 10px 15px;
    border-radius: 18px;
    border: 1.5px solid #000000;
}

.catalog-navigation__item-icon a {
    margin-bottom: -3px;
}

.catalog-navigation__item-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.load-time-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.load-time-section_content {
    text-align: center;
    border-radius: 18px;
    background-color: #F7FEB5;
    padding: 15px;
    width: 350px;
}

#comments {
    position: relative;
}

#comments img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ошибка загрузки*/
.error-message {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    padding-top: 50px;
    margin-bottom: 300px;
}

.image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.error-image {
    width: 200px;
    height: auto;
    border-radius: 18px;
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 80px 80px 40px 80px;
}

.error-image {
    background-color: rgba(213, 184, 241, 0.1);
    border: 1px solid rgba(213, 184, 241, 1);
}

.error-image:last-child {
    width: 210px;
    height: auto;
    border-radius: 18px;
    margin-top: 150px;
    margin-bottom: 70px;
}

.no-bootstrap * {
    all: initial;
}

/* анимация */
.bubblingG {
    text-align: center;
    width:100px;
    height:63px;
    margin: auto;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 13px;
    height: 13px;
    margin: 31px auto;
    background: rgb(108,71,149);
    border-radius: 63px;
    -o-border-radius: 63px;
    -ms-border-radius: 63px;
    -webkit-border-radius: 63px;
    -moz-border-radius: 63px;
    animation: bubblingG 0.905s infinite alternate;
    -o-animation: bubblingG 0.905s infinite alternate;
    -ms-animation: bubblingG 0.905s infinite alternate;
    -webkit-animation: bubblingG 0.905s infinite alternate;
    -moz-animation: bubblingG 0.905s infinite alternate;
}

#bubblingG_1 {
    animation-delay: 0s;
    -o-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
}

#bubblingG_2 {
    animation-delay: 0.2695s;
    -o-animation-delay: 0.2695s;
    -ms-animation-delay: 0.2695s;
    -webkit-animation-delay: 0.2695s;
    -moz-animation-delay: 0.2695s;
}

#bubblingG_3 {
    animation-delay: 0.549s;
    -o-animation-delay: 0.549s;
    -ms-animation-delay: 0.549s;
    -webkit-animation-delay: 0.549s;
    -moz-animation-delay: 0.549s;
}



@keyframes bubblingG {
    0% {
        width: 13px;
        height: 13px;
        background-color:rgb(108,71,149);
        transform: translateY(0);
    }

    100% {
        width: 30px;
        height: 30px;
        background-color:rgb(255,255,255);
        transform: translateY(-26px);
    }
}

@-o-keyframes bubblingG {
    0% {
        width: 13px;
        height: 13px;
        background-color:rgb(108,71,149);
        -o-transform: translateY(0);
    }

    100% {
        width: 30px;
        height: 30px;
        background-color:rgb(255,255,255);
        -o-transform: translateY(-26px);
    }
}

@-ms-keyframes bubblingG {
    0% {
        width: 13px;
        height: 13px;
        background-color:rgb(108,71,149);
        -ms-transform: translateY(0);
    }

    100% {
        width: 30px;
        height: 30px;
        background-color:rgb(255,255,255);
        -ms-transform: translateY(-26px);
    }
}

@-webkit-keyframes bubblingG {
    0% {
        width: 13px;
        height: 13px;
        background-color:rgb(108,71,149);
        -webkit-transform: translateY(0);
    }

    100% {
        width: 30px;
        height: 30px;
        background-color:rgb(255,255,255);
        -webkit-transform: translateY(-26px);
    }
}

@-moz-keyframes bubblingG {
    0% {
        width: 13px;
        height: 13px;
        background-color:rgb(108,71,149);
        -moz-transform: translateY(0);
    }

    100% {
        width: 30px;
        height: 30px;
        background-color:rgb(255,255,255);
        -moz-transform: translateY(-26px);
    }
}

.wrapper-class {
    display: flex;
    min-width: 0;
    padding: 0 80px 0 80px;
    margin-bottom: 40px;
}

.wrapper {
    display: flex;
    max-width: 1200px;
    width: 100%;
}

.image-slider {
    position: relative;
    width: 100%;
    height: 400px;
}

.image-slider__wrapper {
    margin-bottom: 40px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #ffffff;
}


.swiper-button-next,
.swiper-button-prev {
    color: #6C4795;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: #F7FEB5;
}

.swiper-slide .swiper-pagination {
    bottom: 0;
}

.swiper-slide .swiper-pagination-bullets {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    background-color: #ffffff;
}

.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: #6C4795;
}

.image-slider__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 60px;
}

.image-slider__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.image-slider__image img {
    width: auto;
    max-width: 50%;
    height: 400px;
}

.image-slider__image img:first-child {
    border-radius: 18px 0 0 18px;
}

.image-slider__image img:nth-child(3) {
    border-radius: 0 18px 18px 0;
}

.image-slider__description-button-more {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 18px;
    border: black solid 1.5px;
    max-width: 100%;
    padding: 10px;
}

.image-slider__description-button-more h5 {
    font-family: 'Circe Bold', Arial, sans-serif;
}

@media screen and (max-width: 1100px) {
    .image-slider__image {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 40px;
        margin: 0 30px;
    }

    .image-slider__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .image-slider__image img {
        width: auto;
        max-width: 40%;
        height: 300px;
    }

    .image-slider__image img:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .image-slider__image {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 60px;
    }

    .image-slider__image img:nth-child(1) {
        width: auto;
        max-width: 80%;
        height: 200px;
        border-radius: 18px;
    }

    /* Скрываем третий элемент */
    .image-slider__image img:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .image-slider__image img:nth-child(1) {
        width: auto;
        max-width: 80%;
        height: 200px;
        border-radius: 18px;
    }
}


