/* подключаем шрифт */
@font-face {
    font-family: 'Circe Thin';
    src: url('fonts/Circe/Circe-Thin.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Light';
    src: url('fonts/Circe/Circe-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Regular';
    src: url('fonts/Circe/Circe-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Circe Bold';
    src: url('fonts/Circe/Circe-Bold.ttf') format('truetype');
}


.header__top {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.header__middle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 18px;
    align-items: center; /* Выравнивание элементов по вертикали */
}

.divider {

}

.header__info {
    display: flex;
    gap: 20px;
}

.header__icon-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header__icon-text .header__text-icon {
    margin-left: 10px;
    color: #535353;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__icon-text .text-black {
    margin-left: 10px;
    color: #000000;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__icon-text .text-title {
    margin-left: 20px;
    color: #000000;
    font-size: 16px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__menu-list {
    z-index: 1;
/*    Управлять порядком наложения блоков мы как раз и можем при помощи z-index https://doka.guide/css/z-index/*/
}



.header__contacts {
}

.header__contacts .header__text-contacts {
    margin-left: 10px;
    color: #535353;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
}

.header__logo-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.header__logo {
    /*width: 100px;*/
    /*height: 100px;*/
    /*padding-bottom: 10px;*/
    margin-top: 20px;
    padding-right: 30px;
    /*padding-right: 10px;*/
}

.header__logo img {
    width: 100px;
    height: 100px;
}

.main-menu {
    /*width: 80%;*/
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: #D5B8F1;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Circe Light', Arial, sans-serif;
    height: 70px;
    /*border-radius: 10px;*/
    align-items: center; /* Выравнивание элементов по вертикали */
}

/* убираем отступы и поля, а также list-style для "ul",
 * и добавляем "position:relative" */
nav ul {
    padding:0;
    margin:0;
    list-style: none;
    position: relative;
}

/* применяем inline-block позиционирование к элементам навигации */
nav ul li {
    margin: 0px 7px 0 0;
    font-weight: 550;
    display:inline-block;
    background-color: #D5B8F1;
}

/* стилизуем ссылки */
nav a {
    display:block;
    padding:0 10px;
    color: #000000;;
    font-size:16px;
    line-height: 50px;
    text-decoration:none;
}

/* изменяем цвет фона при наведении курсора */
nav a:hover {
    background-color: #6C4795;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

/* отображаем выпадающий список при наведении */
nav ul li:hover > ul {
    display:inherit;
}

/* первый уровень выпадающего списка */
nav ul ul li {
    min-width:170px;
    float:none;
    display:list-item;
    position: relative;
}

nav ul ul ul {
    position: absolute;
    min-width:170px;
    top:0;
    left:100%;
}

.menu__link {
    display: flex;
    align-items: center;
}

.menu__link img {
    margin-left: 5px;
}

.header__search-and-actions {
    width: 15%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.header__search-link {
    padding-left: 20px;
}

/* 1 раздел */
.slider-slide{
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 40px;
}

.mySlides {
    display: none
}


/* Slideshow container */
.slideshow-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    position: relative;
    margin: auto;
}

/* Caption text */
.text-slide {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Regular', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-size: 12px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #D5B8F1;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 5s ease;
}

.active {
    background-color: #6C4795;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
    border-radius: 18px;
}

.mySlides .fade img {
    border-radius: 18px;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .header__text {font-size: 11px}
}

/* 2 раздел */
.weekly-selection {
    padding: 30px 30px;
}

.weekly-selection__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #000000;
}

.weekly-selection__title-col {
    flex-basis: 40%;
    max-width: 40%;
}

.weekly-selection__description-col {
    flex-basis: 60%;
    max-width: 60%;
    align-items: center;
}

h2 {
    font-size: 32px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
}

.title-1 {
    font-size: 40px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    margin: 40px 30px 0 30px;
}


h3 {
    font-size: 20px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
}

.weekly-selection__description {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
}

.weekly-selection__products {
    background-color: #ffffff;

}

.weekly-selection__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.header__weekly-new {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header__weekly-new-text {
    font-size: 14px;
    font-weight: 150;
    font-family: 'Circe Light', Arial, sans-serif;
}

/* online-showcase */

.online-showcase {
    padding: 30px;
}

.online-showcase-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}

.weekly-selection__product-card {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.weekly-selection__product-image {
}

.weekly-selection__product-image img {
    object-fit: cover;
    width: 250px;
    height: 350px;
    border-radius: 18px;
}

.weekly-selection__product-description {
    padding: 20px 0;
    font-size: 14px;
    font-weight: 150;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
}

.weekly-selection__product-description .weekly-selection__product-title {
    font-family: 'Circe Regular', Arial, sans-serif;
}

.weekly-selection__product-description .weekly-selection__product-price {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 5px;
}

.weekly-selection__product-button-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.weekly-selection__product-button-more {
    padding: 10px 15px;
    border-radius: 18px;
    border: 1px solid #000000;
    margin-right: 10px;
    width: 90px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Circe Bold', Arial, sans-serif;
}

.weekly-selection__product-button-basket {
    padding: 10px 15px;
    border-radius: 18px;
    background-color: #6C4795;
    border: 1px solid #6C4795;
    color: white;
    width: 80px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Circe Bold', Arial, sans-serif;
}


/* каталог */

.catalog {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px;
}

.catalog__categories {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.catalog__category-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.catalog__category-item .catalog__category-image img {
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 100px;
}

.catalog__category-item .catalog__category-description {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
    color: #000000;
    padding: 10px 0;
    align-items: center;
}

/*  нас */
.about-us {
    padding: 30px;
}

.about-us__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.about-us-address {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px;
    /*background-color: #F0F0F0;*/
}

#about-us-address__map {
    display: flex;

}

.address-map {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about-us-address__left-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
}

h3 {
    font-weight: 100;
    font-family: 'Circe Regular', Arial, sans-serif;
}

.about-us-address__info {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    background-color: transparent;
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 18px;
    /*height: 200px;*/
}

.about-us__left-column {
    flex-basis: 60%;

}

.faq {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 30px;
}

.faq__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}

.faq__content .faq__item .faq__question {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
}

.faq__content .faq__item {
    padding-right: 30px;
}


.faq__question {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px 10px 10px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid;
    line-height: 30px;
}

.faq__question:hover,
.faq__question:hover::after {
    cursor: pointer;
    background-color: #D5B8F1;
}

.faq__question.active {
    border-bottom: 1.5px solid;
    background-color: white;

}

.faq__question::after {
    content: '+';
    position: absolute;
    float: right;
    right: 1rem;
    font-size: 30px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.faq__question.active::after {
    content: '-';
    background-color: white;
}

.faq__answer {
    opacity: 0;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease 0.15s;
    font-size: 14px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.faq__answer.active {
    opacity: 1;
    padding: 20px;
    max-height: 100%;
    transition: all 0.35s ease 0.15s;
    background-color: white;
}


/* Раздел о нас */
.about-us__right-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: auto;
    max-width: 450px;
    height: auto;
    overflow: hidden;
    margin-left: 20px;
}

.about-us__right-column img {
    border-radius: 18px;
    width: 100%;
    height: 100%;
    display: block;
}

@media (max-width: 1000px) {
    .about-us {
        flex-direction: column;
    }

    .about-us__left-column {
        flex-basis: auto;
    }

    .about-us__right-column {
        justify-content: center;
        margin-top: 20px;
    }
}

.about-us__features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
}


.about-us__feature {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 18px;
    /*height: 200px;*/
}

.about-us__feature-description {
    margin-top: 20px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    padding: 30px;
}

.reviews__column-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 18px;
    border: 1.5px solid #000000;
}

.reviews__column-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.reviews__rating-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 20px;
    border-radius: 18px;
    border: 1.5px solid #000000;
    align-items: center;padding: 20px;
    width: 75%;margin-bottom: 20px; /* Отступ справа для каждой иконки */
}

.reviews__rating-item:last-child {
    margin-bottom: 0; /* Убираем отступ для последней иконки */
}

.reviews__rating-value {
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info {
    margin-top: 20px;
    padding: 30px;
    background-color: #F7FEB5;
    border-radius: 18px;
}

.developer-info__ascii-art {
    margin-right: 40px;
    font-family: monospace;
    color: #000000; /* Цвет под фиолетовую тему "Лаванда" */
    text-align: left;
    font-size: 7px;
}

.developer-info__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}

.developer-info__column {
    background-color: #F7FEB5;
    padding: 0px;
}

@media (max-width: 1000px) {
    .developer-info__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .developer-info__column:last-child {
        grid-column: 1 / -1;
        order: 3;
    }

    .developer-info__column:nth-child(2) {
        order: 2;
    }
}

@media (max-width: 400px) {
    .developer-info__container {
        grid-template-columns: 1fr;
    }

    .developer-info__column {
        grid-column: 1 / -1;
    }
}

.developer-info__column img {
    border-radius: 18px;
    width: 80%;
    height: auto;
    display: block;
}

.developer-info__contact {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 18px;
    border: 1.5px solid #000000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px; /* Ширина блока 100px */
}

.developer-info__contact a {
    margin-right: 20px; /* Отступ справа для каждой иконки */
}

.developer-info__contact a:last-child {
    margin-right: 0; /* Убираем отступ для последней иконки */
}

.developer-info__contact img {
    width: 22px;
    height: 22px;
}

.footer__nav-link {
    color: black;
    text-decoration: none; /* убираем подчеркивание */
    border-bottom: dashed;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote {
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: #f8f8f8;
    border-left: 4px solid #000000;
    text-align: left;
    font-size: 14px;
    font-family: 'Circe Light', Arial, sans-serif;
}

.developer-info__quote p:first-child {
    font-size: 13px;
}

.developer-info__quote p:last-child {
    font-size: 11px;
    text-align: right;
    font-weight: 400;
}



footer {
    margin-top: 80px;
    padding: 30px;
    background-color: #D5B8F1;
}

.footer__content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.table-delivery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 18px;
    border: 1.5px solid #000000;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    font-weight: 550;
    font-family: 'Circe Light', Arial, sans-serif;
}

table caption {
    font-size: 1.3em;
    margin: 0.5em 0 0.75em;
}

table tbody {
    border-radius: 18px;
}

table tr {
    padding: 0.35em;
}

table th, table td {
    padding: 0.625em;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #e6e6e6;
}

@media screen and (max-width:800px) {
    table  {
        border-radius: 18px;
        border-color: #000000;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        display: none;
        border-radius: 18px;
        border: 1.5px solid #000000;
    }

    table tr {
        border-bottom: 1px solid #000000;
        display: block;
        margin-bottom: 20px;
    }

    table td {
        border-bottom: 1px solid #000000;
        display: block;
        text-align: right;
    }

    table td:before {
        content: attr(aria-label);
        float: left;
        font-weight: bold;
    }

    table td:last-child {
        border-bottom: 0;
    }
}

.footer__left-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
}


@media (max-width: 600px) {
    .footer__content {
        grid-template-columns: 1fr;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__logo img {
    width: 150px;
    height: 100%;
    object-fit: contain;
}

.footer__social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; /* Добавлено свойство для вертикального выравнивания */
    border-radius: 18px;
    border: 1.5px solid #000000;
    margin-top: 20px;
    padding: 5px 10px;
    width: 70px;
}

.footer__social-links a {
    margin-right: 10px; /* Отступ справа для каждой иконки */
}

.footer__social-links a:last-child {
    margin-right: 0; /* Убираем отступ для последней иконки */
}

.footer__social-links img {
    width: 16px;
    height: 16px;
}

.footer__right-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 20px;
}

.footer__bottom {
    padding-top: 20px;
}

.footer__copyright{
    color: black;
    font-size: 13px;
    font-weight: 100;
    font-family: 'Circe Light', Arial, sans-serif;
}

.delivery-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 30px;
}


/* display: block убирает лишнее пространство снизу, которое может возникнуть из-за inline-элементов*/

/*.about-us-selection-col1 {*/
/*    flex-basis: 40%;*/
/*    max-width: 40%;*/
/*}*/

/*.about-us-selection-col2 {*/
/*    flex-basis: 60%;*/
/*    max-width: 60%;*/
/*}*/



/*.header-top {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: nowrap;*/
/*    justify-content: space-between !important;*/
/*    !*border: 1px solid #ff00b7;*!*/
/*}*/

/*.block-info {*/
/*    display: flex;*/
/*    gap: 20px; !* Отступ между блоками *!*/
/*    !*border: 1px solid #8400ff;*!*/
/*}*/

/*.icon-text {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    font-size: 12px;*/
/*    font-family: Arial, sans-serif;*/
/*    align-items: center;*/
/*    !*border: 1px solid #1bff00;*!*/
/*}*/

/*.icon-text .text-m {*/
/*    margin-left: 10px;*/
/*    color: #535353;*/
/*    !*border: 1px solid #ff0000;*!*/
/*}*/

/*.contact-info {*/
/*    !*border: 1px solid #007dff;*!*/
/*}*/

/*.contact-info .text-l {*/
/*    margin-left: 20px;*/
/*    color: #535353;*/
/*}*/

